@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

a {
  color: #0041ff
}

html {
  position: absolute;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}

.wrapper {
   overflow: hidden;
   height: 100%;
   width: 100%;
}

.mountains {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:url('assets/mountains.gif');
  background-repeat: repeat-x;
  animation: mountains-slide 60s linear infinite;
  width: 3072px;
}

@keyframes mountains-slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1024px, 0, 0);
  }
}

.trees {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:url('assets/trees.png');
  background-repeat: repeat-x;
  background-position: -16px -166px;
  width: 3720px;
  animation: trees-slide 40s linear infinite;
}

@keyframes trees-slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1280px, 0, 0);
  }
}

.grass {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:url('assets/grass.png');
  background-repeat: repeat-x;
  background-position: -15px 370px;
  width: 3720px;
  animation: trees-slide 20s linear infinite;
}

@keyframes grass-slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1280px, 0, 0);
  }
}

.content-wrapper {
  position:absolute;
  top:300px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.content-inner {
  position: relative;
}

.container.with-title {
  background-color: white;
  z-index: 0;
}

.content-inner .container::before,
.content-inner .container::after {
  z-index: -1;
}

.row {
  display: flex;
  flex-direction: row;
}
.right-aligned {
  justify-content: flex-end;
}

.icon-link {
  display: flex;
  flex-direction: column;
  font-size: 8px;
}

.credits {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: #b1b000;
  font-size: 10px;
}

.matrix-link {
  position: absolute;
  right: 0;
}

@media (max-width: 480px) {
  .content-wrapper {
    top: 200px;
    width: 95%;
    font-size: 10px;
  }

  .mountains {
    top: -15px;
  }
  .grass {
    top: -90px;
  }
}
